# DataFrame

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

In [ ]:
import pandas as pd
import numpy as np
from IPython import display
from sklearn import datasets

In [ ]:
myDataframe = pd.DataFrame()
myDataframe

 ### Define a DataFrame:
 
 1. Using Dictionary

In [ ]:
myDict = {'Name': ['James','Daniel', 'George', 'Alex'],
       'Age' : [23, 45, 32, 43],
       'Province' : ['AB', 'ON', 'BC', 'QC']}
myDataframe = pd.DataFrame(myDict)
myDataframe

In [ ]:
myDataframe = pd.DataFrame(myDict, index=['a', 'b', 'c', 'd'])
myDataframe

2. Define an empty DataFrame and add rows

In [ ]:
cols = ['Name', 'Age', "province"]
myDataframe1 = pd.DataFrame(columns=cols)
myDataframe1

In [ ]:
myDataframe1 = myDataframe1.append(
    {'Name' : 'James', 'Age' : 23, "province" : "AB"}, ignore_index=True)
myDataframe1

In [ ]:
myDataframe1 = myDataframe1.append(
    {'Name' : 'Daniel', 'Age' : 45, "province" : "ON"}, ignore_index=True)
myDataframe1

3. Define an empty DataFrame and add columns

In [ ]:
myDataframe3 = pd.DataFrame()
myDataframe3

In [ ]:
myDataframe3['Name'] = ['James','Daniel', 'George', 'Alex']
myDataframe3

In [ ]:
myDataframe3['Age'] = [23, 45, 32, 43]
myDataframe3['province'] = ['AB', 'ON', 'BC', 'QC']
myDataframe3

4. Another way of defining a DataFrame

In [ ]:
cols = ['Name', 'Age', "province"]
myDataframe4 = pd.DataFrame(columns=cols, index=['a', 'b', 'c', 'd'])
myDataframe4

### NaN = Not a Number

In [ ]:
myDataframe4['Name'] = ['James','Daniel', 'George', 'Alex']
myDataframe4

### Access to column name and index

In [ ]:
myDataframe.columns

In [ ]:
list(myDataframe.index)

### Access to columns

In [ ]:
myDataframe.Age   # myDataframe['Age']

In [ ]:
myDataframe[['Name', 'Age']]

### get the values of rows using loc and iloc

In [ ]:
myDataframe.loc['a']

In [ ]:
myDataframe.loc[['a', 'b']]

In [ ]:
myDataframe.iloc[0]

In [ ]:
myDataframe.iloc[[2,1]]

In [ ]:
myDataframe

### Values of a specific elements

In [ ]:
myDataframe.loc['a', 'Age']

In [ ]:
myDataframe.loc['b', ['Name', 'Age']]

In [ ]:
myDataframe.loc[['a', 'b'], ['Name', 'Age']]

In [ ]:
myDataframe.iloc[[0, 1], [0, 1]]

# Part 2

In [ ]:
# Get the iris data
iris = datasets.load_iris()
cols = ['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']
data = pd.DataFrame(iris.data, columns=cols)

### The first few rows

In [ ]:
data.head(3)

### The last few rows

In [ ]:
data.tail()

In [ ]:
data.values

### Dimension of a dataframe

In [ ]:
data.shape

In [ ]:
data.describe().T

### Reset index

In [ ]:
data.index

In [ ]:
ind = np.arange(1, len(data)+1)
data['index'] = ind
data = data.set_index('index')
data.head()

## change the column name

In [ ]:
# To change the names of all columns
data.columns = ['SepalL', 'SepalW', 'PetalL', 'PetalW']
data.head(2)

In [ ]:
# To change the name of some columns
print(data.rename(columns={'SepalL': 'SepalLen','SepalW': 'SepalWid'}).head(3))

## Insert and remove columns

In [ ]:
data['one'] = 1
data.head(3)

In [ ]:
data = data.drop('one', axis=1)  # data.drop(['one', 'PetalW'], axis=1)  
data.head(3)

In [ ]:
data["Category"] = np.random.choice(["Yes", "No"], len(data), p=[0.5, 0.5])

In [ ]:
data

### Aggregation functions :  max, min, std, mean, mode

In [ ]:
data.SepalL.max()     #data['SepalL'].max()

In [ ]:
data[['SepalL', 'SepalW']].max()

In [ ]:
data['Category'].mode()

In [ ]:
data['Category'].value_counts()

In [ ]:
data['Category'].unique()

# Slicing 

`selecting rows by content`

select rows based on their contents using `Boolean indexing`.

1. Write a logical statement about a dataframe. 
2. Evaluate the statement on each row
3. If it evaluates to True, return the row.

In [ ]:
data[data['Category'] == 'Yes'].head(3)

In [ ]:
data[ data['SepalL'] > 7.5].head(3)

The logical operators & (and), | (or), and ~ (not) can be applied to multiple statements.

In [ ]:
data[ (data['SepalL'] > 7.5) & (data['Category'] == 'Yes')]

In [ ]:
data[ data['SepalL'] == data.SepalL.max() ]

In [ ]:
data[ data['SepalL'] == data.SepalL.max() ][['SepalL', 'SepalW']]

### selecting by group: groupby  
The groupby method divides a DataFrame into subsets and performs an aggregate or transformation on each subset independently.

In [ ]:
data.groupby('Category')

In [ ]:
data.groupby('Category').sum()

In [ ]:
data.groupby('Category').aggregate([min, np.median, max])

In [ ]:
data.groupby('Category').aggregate({'SepalL': 'min', 'SepalW': 'max'})

`Transformation` 
Aggregation returns a shorter version of the data, whereas transformation returns the full data modified.
For example center the data by subtracting the group-wise mean:

In [ ]:
data.groupby('Category').transform(lambda x: x - x.mean())

### Manipulating the Data in a DataFrame

In [ ]:
2*data['SepalL']

In [ ]:
np.exp(data['SepalL'])

In [ ]:
data['SepalL'].sum()

In [ ]:
data[data['Category'] == 'Yes']['SepalL'].sum()

In [ ]:
# create a new column
data['Sepal'] = data['SepalL'] + data['SepalW']
data.head(2)

# Part 3

## Merge dataframes

### DataFrames can be combined by merge, join, concate, and append

A variety of joins are implemented using the pd.merge() function: 

`one-to-one`,
`many-to-one`, 
`many-to-many` joins.

pd.merge(right, how='inner', on=None, left_on=None, 
                   right_on=None, left_index=False, right_index=False, 
                   sort=False, suffixes=('_x', '_y'), 
                    copy=None, indicator=False, validate=None)

In [ ]:
display.Image("merge.png")

The following examples are from 
`Python Data Science Handbook Essential Tools for Working with Data by Jake VanderPlas`

### One-to-one joins

In [ ]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})

df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue'],
'hire_date': [2004, 2008, 2012, 2014]})
print(df1)
print(df2)

In [ ]:
display.Image("merge.png")

In [ ]:
# The "employee" column in each DataFrame is recognised by the pd.merge() 
#function, which then automatically merges the data using this column as a key.
df3 = pd.merge(df1, df2)
df3

### Many-to-one joins
The many-to-one joins occur when one of the two main columns has duplicate data. The resulting DataFrame will maintain those duplicate entries as necessary.

In [ ]:
display.Image("merge2.png")

In [ ]:
df4 = pd.DataFrame({'group': ['Accounting', 'Engineering', 'HR'],
'supervisor': ['Carly', 'Guido', 'Steve']})
df4

In [ ]:
df3

In [ ]:
pd.merge(df3, df4)

### Many-to-many joins
A many-to-many merge occurs when the key column in both the left and right dataframes has duplicate values.

In [ ]:
df5 = pd.DataFrame({'group': ['Accounting', 'Accounting',
'Engineering', 'Engineering', 'HR', 'HR'],
'skills': ['math', 'spreadsheets', 'coding', 'linux',
'spreadsheets', 'organization']})
df5

In [ ]:
display.Image("merge3.png")

In [ ]:
pd.merge(df1, df5)

## Specification of the Merge Key

In [ ]:
pd.merge(df1, df2, on='employee')

### The left_on and right_on keywords
When dataframes have different column names, we can specify the two column names using the left_on and right_on keywords.

In [ ]:
df3 = pd.DataFrame({'name': ['Bob', 'Jake', 'Lisa', 'Sue'],
'salary': [70000, 80000, 120000, 90000]})
print(df1); print(df3);
print(pd.merge(df1, df3, left_on="employee", right_on="name"))

In [ ]:
# We can drop the redundant column 
pd.merge(df1, df3, left_on="employee", right_on="name").drop('name', axis=1)

## Specifying Set Arithmetic for Joins
## Types of join

In [ ]:
display.Image("joins.jpg", width=300)

In [ ]:
df6 = pd.DataFrame({'name': ['Peter', 'Paul', 'Mary'],
'food': ['fish', 'beans', 'bread']},
columns=['name', 'food'])
df7 = pd.DataFrame({'name': ['Mary', 'Joseph'],
'drink': ['wine', 'beer']},
columns=['name', 'drink'])
print(df6) 
print(df7)
print(pd.merge(df6, df7))

### inner
Just return rows from both DataFrames that match.

In [ ]:
pd.merge(df6, df7, how='inner')

### outer
Return back every row from both DataFrames. Put NaN values in place of missing values when a row appears in one DataFrame but not the other.

In [ ]:
pd.merge(df6, df7, how='outer')

### Left
Return all rows from the left DataFrame but only rows from the right DataFrame
that matched with the left DataFrame. Fill NaN values for the missing values

In [ ]:
pd.merge(df6, df7, how='left')

### Right
Only rows from the left DataFrame that matched the right DataFrame will be returned and replace any missing values with NaN values.

In [ ]:
pd.merge(df6, df7, how='right')