# DataFrame

DataFrame is a 2-dimensional labeled data structure with columns of potentially different types.

In [1]:
import pandas as pd

In [2]:
myDataframe = pd.DataFrame()
myDataframe

Empty DataFrame
Columns: []
Index: []

 ### Define a DataFrame:
 
 1. Using Dictionary

In [3]:
myDict = {'Name': ['James','Daniel', 'George', 'Alex'],
       'Age' : [23, 45, 32, 43],
       'Province' : ['AB', 'ON', 'BC', 'QC']}
myDataframe = pd.DataFrame(myDict)
myDataframe

     Name  Age Province
0   James   23       AB
1  Daniel   45       ON
2  George   32       BC
3    Alex   43       QC

In [4]:
myDataframe = pd.DataFrame(myDict, index=['a', 'b', 'c', 'd'])
myDataframe

     Name  Age Province
a   James   23       AB
b  Daniel   45       ON
c  George   32       BC
d    Alex   43       QC

2. Define an empty DataFrame and add rows

In [5]:
cols = ['Name', 'Age', "province"]
myDataframe1 = pd.DataFrame(columns=cols)
myDataframe1

Empty DataFrame
Columns: [Name, Age, province]
Index: []

In [6]:
myDataframe1 = myDataframe1.append(
    {'Name' : 'James', 'Age' : 23, "province" : "AB"}, ignore_index=True)
myDataframe1

    Name Age province
0  James  23       AB

In [7]:
myDataframe1 = myDataframe1.append(
    {'Name' : 'Daniel', 'Age' : 45, "province" : "ON"}, ignore_index=True)
myDataframe1

     Name Age province
0   James  23       AB
1  Daniel  45       ON

3. Define an empty DataFrame and add columns

In [ ]:
myDataframe3 = pd.DataFrame()
myDataframe3

In [ ]:
myDataframe3['Name'] = ['James','Daniel', 'George', 'Alex']
myDataframe3

In [ ]:
myDataframe3['Age'] = [23, 45, 32, 43]
myDataframe3['province'] = ['AB', 'ON', 'BC', 'QC']
myDataframe3

4. Another way of defining a DataFrame

In [ ]:
cols = ['Name', 'Age', "province"]
myDataframe4 = pd.DataFrame(columns=cols, index=['a', 'b', 'c', 'd'])
myDataframe4

### NaN = Not a Number

In [ ]:
myDataframe4['Name'] = ['James','Daniel', 'George', 'Alex']
myDataframe4

### Access to column name and index

In [ ]:
myDataframe.columns

In [ ]:
list(myDataframe.index)

### Access to columns

In [ ]:
myDataframe.Age   # myDataframe['Age']

In [ ]:
myDataframe[['Name', 'Age']]

### get the values of rows using loc and iloc

In [ ]:
myDataframe.loc['a']

In [ ]:
myDataframe.loc[['a', 'b']]

In [ ]:
myDataframe.iloc[0]

In [ ]:
myDataframe.iloc[[2,1]]

In [ ]:
myDataframe

### Values of a specific elements

In [ ]:
myDataframe.loc['a', 'Age']

In [ ]:
myDataframe.loc['b', ['Name', 'Age']]

In [ ]:
myDataframe.loc[['a', 'b'], ['Name', 'Age']]

In [ ]:
myDataframe.iloc[[0, 1], [0, 1]]